/* 6. Write CSS rules that cause the header and .collage div to be centered on the page */

/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */

.body{
    text-align: center;
}

.header{
width: 100%;
margin: auto 0;
display: inline-block;
}

.collage{
max-width: 800px;
display: inline-block;
margin: auto 0;
}