body{
    text-align: center;
    color: whitesmoke;
}

header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: orange;
    width: 100%;
    margin: auto 0;
    display: inline-block;
}

.collage{
max-width: 800px;
display: inline-block;
margin: auto 0;

}
